/.vscode/
/build/CMakeFiles/
/build/vendored/
/build/assetbackup/
/build/x64
/build/*.vcxproj
/build/*.vcxproj.filters
/build/b*
/build/*.cmake
/build/*.txt
/build/Makefile
/build/Debug
/build/Release/
/vendored/SDL
/vendored/SDL3_mixer
vc140.pdb
