/build/CMakeFiles/
/build/vendored/
/build/assetbackup/
/build/x64
/build/*.vcxproj
/build/*.vcxproj.filters
/build/*
/build/*.cmake
/build/*.txt
/build/Makefile
/build/Debug/
/build/Debug/*
/build/Release/
/build/Release/*
/vendored/SDL
/vendored/SDL3_mixer
vc140.pdb
